$orderbook-bg-color: #fff;
$positive-color: #28a745;
$negative-color: #dc3545;
$text-color: #333;

.order-book-container {
    // background-color: $orderbook-bg-color;
    // padding: 20px;
    // border-radius: 5px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h2 {
        margin-bottom: 20px;
        color: $text-color;
    }
    table{
        width: 100%;
    th, td{
        text-align: right;
    }:first-child{
        text-align: left;
    }
}


    .order-book-section {
    .bid{
        color: $negative-color;
    }
    .ask{
        color: $positive-color;
    }
    }
}