
    <header>
        <img class="logo" src="/assets/images/bybit.png">
        <nav>
            <ul>
                <li><a href="#">Exchange</a></li>
                <li><a href="#">WEB3</a></li>
                <li><a href="#">Buy Crypto</a></li>
                <li><a href="#">Markets</a></li>
                <li><a href="#">Trade</a></li>
                <li><a href="#">Derivatives</a></li>
                <li><a href="#">Tools</a></li>
                <li><a href="#">Finance</a></li>
                <li><a href="#">Card</a></li>
            </ul>
        </nav>
        <div class="auth-buttons">
            <a href="#" class="login">Log In</a>
            <a href="#" class="sign-up">Sign Up</a>
        </div>
    </header>
