
    <div class="crypto-header">
        <img src="/assets/images/Solana_logo.png" alt="Solana Logo" class="crypto-logo">
        <div class="crypto-info">
            <div class="pair">SOL/USDT</div>
            <div class="price">{{currentPrice}} <span>~{{currentPrice}} USD</span></div>
            <div class="change">24H Change <span class={{changeClass}}>{{changePercentage}}%</span></div>
            <div class="high">24H High {{dayHigh}}</div>
            <div class="low">24H Low {{dayLow}}</div>
            <div class="turnover">24H Turnover(USDT) {{turnover}}</div>
        </div>
    </div>
<!-- 
    <div class="header-tabs">
        <button class="header-tab">Trade</button>
        <button class="header-tab active">Current Orders (0)</button>
        <button class="header-tab">Order History</button>
        <button class="header-tab">Trade History</button>
        <button class="header-tab">Subscription & Redemption History</button>
    </div>
<p> new candle </p>
    <div class="order-table">
        <div class="tabs">
            <button class="tab active">Limit & Market Orders</button>
            <button class="tab">TP/SL Order</button>
            <button class="tab">Conditional Order</button>
            <button class="tab">OCO</button>
            <button class="tab">Last 7 D</button>
            <button class="tab">Last 30 D</button>
            <button class="tab">Last 180 D</button>
            <a href="#" class="trading-performance">Trading Performance ➔</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Spot Pairs</th>
                    <th>Order Type</th>
                    <th>Direction</th>
                    <th>Filled Value / Order Price</th>
                    <th>Filled/Order Quantity</th>
                    <th>TP/SL</th>
                    <th>Order Value / Order Price</th>
                    <th>Order Status / Order Time</th>
                    <th>Order ID / Action</th>
                </tr>
            </thead>
            <tbody>
                <tr><td colspan="9" class="no-orders">Please Log In or Sign Up first.</td></tr>
            </tbody>
        </table>
    </div> -->

